@import '../variables';

.add{
  background-color: rgba($color-dark, 0.7);
  padding: 20px;
  border-radius: 5px;
  margin: 0 10px;

  label{
    display: flex;
    align-items: center;

    &:first-child{
      margin-bottom: 15px;
    }

    span{
      width: 60px;
      color: $color-yellow;
    }
  }

  input{
    height: 30px;
    padding: 0 8px;
  }


  &__btn{
    width: 100%;
    background-color: $color-yellow;
    border: none;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
      background-color: rgba($color-yellow, 0.8);
      transition: background-color .7s;
    }
  }
}